p {
    color:rgb(17, 15, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* column-count: 2; */
/* this is a css coment */
}
button {
    width: 100px;
    margin: 5px;
}
img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);

  }

body{
    background-color:aliceblue;
    background-image: url('/dog.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 300px;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 30%;
    text-align: left;
}

th, 
td {
  border: 1px solid white;
  padding: 3px;
  background-color: rgb(154, 216, 245);
  border-radius: 10px;
  padding: 15px;
  color:hotpink;
}

td:hover, th:hover {
    background-color: aqua;
}

ul {
    list-style-type:square;
}

h1 {
    border: 5px solid dodgerblue;
    border-style: inset;
    border-radius: 5px;
}

.bg-example {
    width: 320px;
    height: 240px;
    border: 1px solid dodgerblue;
    background-image: url('/paper2.jpg');
}

.bg-example > p {
    color:rgb(241, 241, 241)
}

.table-footer {
    font-size: .7em;
    
}

.github:link, .github:visited {
    background-color: aqua;
    color:aliceblue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.github:hover, .github:active {
    background-color: blue;
}

.sheep ,
.biscuit{
    float: left;
}
.sheep > p:hover,
.chocolate> p:hover,
.biscuit> p:hover{
    background-color:rgb(37, 139, 143);
    color:white
}

.chocolate {
    float:right;
}

.sheep-solo{
    /* background-image: url('/sheep-solo.jpg'); */
    background-attachment: fixed;
    background-size:contain;
}